//- Pearl Head
//- Copyright(c) 2012 King Pearl LLC
head
	meta(charset='utf-8')

	meta(http-equiv='X-UA-Compatible', content='IE=edge')

	title= title
	meta(name='description', content=description)
	meta(name='keywords', content=keywords)

	// The line below must be kept intact for Sencha Cmd to build your application
	script#microloader(src='bootstrap.js')